input {
	border: none;
}

button {
	border: none;
}

.loginline {
	padding: 3px;
}

form {
	float: left;
}

form * {
	text-align: right;
}

#errorbox {
	text-align: center
}

#holder {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	text-align: center
}

#holder * {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#errorbox * {
	position: static;
}
